body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .photo-gallery {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .photo-gallery img {
    max-width: 30%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    text-align: center;
    color: #e91e63;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  /* Estilos para os botões */
  .button-section {
    text-align: right; /* Alinhar os botões à direita */
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #e91e63;
    color: #fff;
    cursor: pointer;
    margin: 5px;
  }
  
  button:hover {
    background-color: #d01859;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  